<!DOCTYPE html>
<html>

<head>


  <script src="https://kit.fontawesome.com/9255b8d5e5.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="FE.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<p>F.Y. Section</p>



<body>

  <a href="syllabus.html"><button class="sy">Syllabus</button></a>

  <button class="qu">previous year papers</button>

  <button class="no">News
  </button>


<script src="dark.js"></script>

</body>
</head